html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

.main{
    background-color: #f0f0f0;
    height:100vh;
    padding-right:0;
    padding-left:0;
}
.welcome{
    list-style-type: none;
    background-color: #f0f0f0;
    text-align:center;
}

.left-img{
    float:left;
}


.welcome-headline{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size:40px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
}

.subheadline{
    margin-bottom:10px;
}

button{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    padding-left:0;
    padding-right:0;
}

.backbtn{
    margin-left:25px;
}
.headline-result{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size:40px;

    margin-top: 50px;
    margin-bottom: 10px;
}

.subheadline{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    font-size:30px;

}

.results{
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
}

.popular{
    background-color: #c4c4c4;
    margin-right:5px;
    height: 55vh;
}

.seats{
    background-color: #c4c4c4;
    height: 55vh;
    margin-left:5px;
}


.coldets, .colprev{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.colconst, .colcomp{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.dets, .prev{
    width:calc(100% - 30px);
}

.const, .comp{
     width:calc(100% - 30px);
     margin-left:5px;
 }

.buttons1{
    margin-bottom:10px;
}
